<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <ul class="ul">
        <li class="li">
            <a href="#"> <img src="../assets/facebook.svg" alt=""> </a>
        </li>
        <li class="li">
            <a href="#"><img src="../assets/linkedin.svg" alt=""></a>
        </li>
        <li class="li">
            <a href="#"><img src="../assets/twitter.svg" alt=""></a>
        </li>
        <li class="li">
            <a href="#"><img src="../assets/calllog.svg" alt=""></a>
        </li>
        <li class="li"><span class="span1">+91 9108047688</span> </li>

        <li class="li li-1">
            <span>
        <select name="" id="">
          <option class="option" value="eng" *ngFor="let data of languages">{{data}}</option>
        </select>
      </span> &nbsp;&nbsp;&nbsp;
            <span class="span2">
        Login/Registration
      </span>

        </li>
    </ul>

    <ul class="ul-1">
        <li class="li">
            <a class="navbar-brand">
                <span class="display-6 text-danger"><b>Agri</b></span>
                <span class="display-6 text-success"><b>App</b></span>
            </a>
        </li>
        <li class="li-2">
            <span>
            <select name="Catagories" class="select1">
              <option class="option" value="eng" *ngFor="let data of catagories">{{data}}</option>
            </select>
       </span>
        </li>

        <li class="  li-2">
            <a class="nav-link">Shop</a>
        </li>
        <li class="li-2">
            <a class="">Deals</a>
        </li>
        <li class="li-2">
            <a class="nav-link ">Crops</a>
        </li>


        <li class="li-2 search">
            <span>
            <form class="search-form" role="search">
                <input class="search-input" type="search" placeholder="Search" aria-label="Search">
            </form></span> &nbsp;&nbsp;&nbsp;


        </li>


    </ul>

    <span class="span3 ">
    <h1>Connecting <span class="greentext ">farmers</span> to <span class="greentext ">technology</span>... </h1>
    <button class="Learn ">Learn More</button>
    </span>

    <span>
    <img src="../assets/about1st.png " alt=" " class="cst " >
    </span>
    <div class="aboutcss ">
        <div class=" ">
            <h2 class="abt ">About Us</h2>
            <h4 class="aboutus1 ">AgriApp with a bunch of professionals dreaming about making agriculture more sustainable both ecologically and economically in quick time with help of technology.</h4>
        </div>


        <div class="aboutus2 ">
            <p class="Join ">Join us in our mission and passion to make this a reality for keeping the ecosystem of food available for generations to come. This all-in-one agriculture focused app is completely free. Download from Google play store and Enjoy the Farming.
                Happy and Healthy Farming!</p>
            <p class="Join1 ">AgriApp is an IT, ICT and IOT enabled technology company with an intent to bring technology to the field of agriculture and food sector.intent to bring technology to the field of agriculture and food sector.
            </p>
        </div>
    </div>

    <br><br>
    <div class="img-div ">
        <div>
            <img src="../assets/about2.png " alt=" " class="img1 ">
            <img src="../assets/about3.png " alt=" " class="img2 ">
        </div>
        <img src="../assets/about4.png " alt=" " class="img3 ">
    </div>



    <div class="row ">
        <div>
            <img src="../assets/about5.png " alt=" " class="img4 ">
        </div>
        <div class="motto ">
            <h2 class="motto1 ">Our motto</h2>
            <p class="motto2 "> AgriApp motto is connecting the Agriculture ecosystem with the digital world, while enabling and equipping the farmers with the next generation farming techniques. Making each farmer a Digitally Enabled
                <span class="Agri_entr "><b> “Agri-Entrepreneur”</b></span> to Solve Food, Fiber, Fertilizer, Fuel and Feed Challenges.
            </p>
        </div>
        <div>
            <img src="../assets/about6.png " alt=" " class="img4 ">
        </div>
    </div>


    <div class="provide ">
        <div class="provide1 ">
            <div class="provide2 ">What we provide</div>
        </div>
        <div>
            <img src="../assets/services.jpg " alt=" " class="img5 ">
        </div>
    </div>


    <div class="card-fam ">
        <div class="test ">
            <div class="service-align "><img src="../assets/card1.png " class="card1 ">
                <h3 class="label ">Soil Testing</h3>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="test ">
            <div class="service-align "><img src="../assets/card2.png " class="card2 ">
                <h3 class="label ">Crop Calendar</h3>
            </div>
        </div>
        &nbsp;&nbsp;

        <div class="test ">
            <div class="service-align "><img src="../assets/card3.png " class="card3 ">
                <h3 class="label ">Crop Advisory</h3>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="test ">
            <div class="service-align "><img src="../assets/card4.png " class="card4 ">
                <h3 class="label ">PoP</h3>
            </div>
        </div>
    </div>


    <div class="extra-bnf ">

        <div class="extra-bnf1 ">
            <h2 class="bnf "><span class="ext ">Extra</span> benefits</h2>
            <div>
                <div class="benefit1 "><img src="../assets/marketprice.svg " class="mpimg "><span class="ms ">
            <h3 class="benefits ">Market Price</h3>
          </span></div>
            </div>
            <div>
                <div class="benefit1 "><img src="../assets/weatherreport.svg " class="mpimg "><span class="ms ">
            <h3 class="benefits ">Weather Report</h3>
          </span></div>
            </div>
            <div>
                <div class="benefit1 "><img src="../assets/blogs.svg " class="mpimg "><span class="ms ">
            <h3 class="benefits ">Blogs</h3>
          </span></div>
            </div>
            <div>
                <div class="benefit1 "><img src="../assets/community.svg " class="mpimg "><span class="ms ">
            <h3 class="benefits ">Community</h3>
          </span></div>
            </div>
        </div>
        <div>
            <img src="../assets/about7.png " alt=" " class="img6 ">
        </div>
    </div>


    <div class="app ">
        <div>
            <img src="../assets/about8.png " alt=" " class="img7 ">
        </div>
        <div>
            <h2 class="agri "> <span class="ext ">Agri</span>App</h2>

            <p class="detail ">Book drone on rent for fertilizer, pesticide spraying at <br> nominal cost, and the drone will take to spray 1acre in 10 min</p>
            <div>
                <a href="https://play.google.com/store/apps/details?id=com.criyagen&hl=en&channel=utm6 "></a>
                <img src="../assets/playstore.png " alt=" " class="store ">
            </div>
        </div>
    </div>


    <div class="review ">
        <img src="../assets/review.jpg " alt=" " class="img8 ">
    </div>



    <!-- Footer -->

    <div class="footer ">
        <img src="../assets/tool.jpg " alt=" " class="img9 ">
        <div class="refer ">
            <img src="../assets/logo.png " alt=" " class="img10 ">
            <div>
                <div class="grid-container2 ">
                    <div class="footer1 "><a href=" "> Crop Advisory Service</a>
                        <ul>Criyagen, Bio-Control Division,</ul>
                        <ul>Department of Plant Pathology College of Agriculture,</ul>
                        <ul> GKVK University of Agricultural Sciences,</ul>
                        <ul>Bangalore - 560065</ul>
                    </div>
                    <div class="footer2 ">
                        <a href=" ">Quick Links</a>
                        <div class="footer3 ">
                            <span class="span4 ">
                                <ul><a href=" ">Home</a></ul>
                                <ul><a href=" ">Shop</a></ul>
                                <ul><a href=" ">About Us</a></ul>
                            </span>
                            <span class="span4 ">
                                <ul> <a href=" ">Terms & Services</a> </ul>
                                <ul> <a href=" ">Privacy Policy</a></ul>
                                <ul> <a href=" ">Refund Policy</a></ul>
                            </span>
                        </div>


                    </div>
                    <div class="footer4 "><a href=" "> Terms & Services</a>
                        <ul>Privacy Policy</ul>
                        <ul>Refund Policy</ul>
                    </div>
                    <div class="footer5 ">
                        <a href=" ">SOCIAL</a>
                        <ul class="menu ">
                            <li>
                                <a href="https://www.facebook.com/agriappconnectingfarmers/ " target="_blank "><img src="../assets/footer_fb.png " alt=" "></a>
                            </li>
                            <li>
                                <a target="_blank " href="https://www.linkedin.com/company/agriapp-technologies-pvt-ltd/ "><img src="../assets/footer_linkedin.png " alt=" "></a>
                            </li>
                            <li>
                                <a target="_blank " href="https://twitter.com/Agri_App "><img src="../assets/footer_twiiter.png " alt=" "></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="span5 ">© 2023 AgriApp - Privacy & Terms</span>
            </div>
        </div>
    </div>
</body>

</html>